
.spacer {
    flex: 1 1 auto;
}

.columnar-container {
    padding: 5px;
    display: flex;
}

.row-container {
    padding: 5px;
}


.card svg.material-icons path {
    fill: #aaaab4;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 20px;
    width: 100px;
    margin: 0 8px 16px 20px;
    padding: 8px;
}

.card.card-resource {
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    line-height: 24px;
}

.card-container .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:hover .material-icons path {
    fill: rgb(105, 103, 103);
}
