
.spacer {
    flex: 1 1 auto;
}

.container {
    padding: 10px;;
}

.columnar-container {
    padding: 5px;
    display: flex;
}

.new-line-containe {
    padding: 5px;
}

.new-line-container span {

    display: block;
}

